<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="lt.vu.mybatis.model.Musician" alias="Musician"/>
        <typeAlias type="lt.vu.mybatis.model.Genre" alias="Genre"/>
        <typeAlias type="lt.vu.mybatis.model.SongGenre" alias="SongGenre"/>
        <typeAlias type="lt.vu.mybatis.model.Song" alias="Song"/>
        <typeAlias type="lt.vu.mybatis.model.Album" alias="Album"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="SongsDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis.xml/MusicianMapper.xml"/>
        <mapper resource="mybatis.xml/GenreMapper.xml"/>
        <mapper resource="mybatis.xml/SongGenreMapper.xml"/>
        <mapper resource="mybatis.xml/SongMapper.xml"/>
        <mapper resource="mybatis.xml/AlbumMapper.xml"/>
    </mappers>
</configuration>
